<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<div sec:authorize="isAnonymous()">
		<h1 th:inline="text">Hello guest!</h1>
		<a th:href="@{/login}">Login</a>
	</div>
	
	<div sec:authorize="isAuthenticated()">
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	    <form th:action="@{/logout}" method="post">
	            <input type="submit" value="Sign Out"/>
	    </form>
		
		<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			<p><a th:href="@{/inventoryView}">Check Stock</a></p>
			<p><a th:href="@{/providersView}">Check Providers Statistics</a></p>
			<p><a th:href="@{/salesView/seller/1}">Check Sales</a></p>
		</div>
		<div th:if="${#authorization.expression('hasRole(''ROLE_STORE_SELLER'')')}">
			<p><a th:href="@{/inventoryView}">New Sale</a></p>
	    	<p><a th:href="@{/storeSellersView/seller/1}">Check My Sales</a></p>
	    	<p><a th:href="@{/storeSellersView/seller/1}">Check All Sales</a></p>
		</div>
		<div th:if="${#authorization.expression('hasRole(''ROLE_DELIVERY_SELLER'')')}">
			<p><a th:href="@{/deliverySellersView}">Register Sales</a></p>
	    	<p><a th:href="@{/deliverySellersView/seller/2}">Check My Sales</a></p>
		</div>
		<div th:if="${#authorization.expression('hasRole(''ROLE_LOGISTIC'')')}">
			<p><a th:href="@{/logisticView}">Providers</a></p>
			<p><a th:href="@{/inventoryView/wrappers}">Configure Minimum Stocks</a></p>
		</div>
		<div th:if="${#authorization.expression('hasRole(''ROLE_PROVIDER'')')}">
			<p><a th:href="@{/providersView/1}">My orders</a></p>
		</div>
	    
	</div>
    
</body>
</html>