<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Logistic View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/logistic.js"></script>
</head>
<body>

	<div id="result">
		<table border="1">
			<tr>
				<th>INDEX</th>
				<th>PROVIDER</th>
				<th>NEW REQUEST</th>
			</tr>		
			<tr th:each="provider,itrStat : ${providers}">
				<td th:text="${itrStat.count}"></td>
				<td th:text="${provider}"></td>
				<td>
					<label>Design: </label>
					<select th:id="${provider.id}+'_'+designSelect" class="designSelect">
						<option th:each="design:${designs}" th:value="${design.name}"
							th:text="${design.name}"></option>
					</select>
					
					<label>Device: </label>
					<select id="${provider.id}+'_'+deviceSelect" class="deviceSelect">
						<option th:each="device:${devices}" th:value="${device.name}"
							th:text="${device.name}"></option>
					</select>
					
					<label>Quantity:</label>
					<input type="number" th:id="${provider.id}+'_'+quantity" class="quantity"/>
					<button type="button" th:id="${provider.id}+'_'+makeRequest" class="makeRequest">CONFIRM REQUEST</button>
				</td>
			</tr>
		</table>
	</div>
	
	<h3>Alerts: </h3>
	<table>
		<tr th:each="alert : ${alerts}">
				<td th:text="'We need '+${alert.quantity}+' items of '+${alert.product}"></td>
				<td>
					<button type="button" class="makeAlertRequest" th:id="${alert.product.id}+'_'+${alert.quantity}+'_'+${alert.product.provider.id}+'_'+${alert.id}">MAKE REQUEST</button>
				</td>
	   	</tr>
   	</table>
   	
   	<div id="alertResult"></div>
    
    
    <a th:href="@{/}">Back to the homepage</a>
</body>
</html>