<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>My Sales</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../js/sales.js"></script>
</head>
<body>

	<div id="result">
		<table border="1">
			<tr>
				<th>INDEX</th>
				<th>SALE ID</th>
				<th>CUSTOMER</th>
				<th>STATUS</th>
				<th>DATE OF REQUEST</th>
				<th>TOTAL PRICE</th>
				<th>CONFIRM</th>
				<th>CANCEL</th>
			</tr>		
			<tr th:each="sale,itrStat : ${sales}">
					<td th:text="${itrStat.count}"></td>
					<td th:text="${sale.id}"></td>
					<td th:text="${sale.getCustomer()}"></td>
					<td th:text="${sale.Status}"></td>
					<td th:text="${#dates.format(sale.caseOrder.dateOfRequest,'dd/MM/yyyy')}"></td>
					<td th:text="'$'+${sale.totalPrice}"></td>
					<td><button type="button" class="confirmSale" th:id="${sale.id}">CONFIRM</button></td>
					<td><button type="button" class="cancelSale" th:id="${sale.id}">CANCEL</button></td>
			</tr>
		</table>
	</div>
	
<!-- 	<select id="pageSelect"> -->
<!-- 	<div id="pagination"> -->
<!-- 			<option th:each="i: ${#numbers.sequence( 1, pageQuantity)}" -->
<!-- 	        th:value="${i}" -->
<!-- 	        th:text="${i}"></option> -->
<!-- 	</div> -->
<!-- 	</select> -->
	
	<label>Size:</label>
	<select id="sizeSelect">
		<option>5</option>
		<option>10</option>
		<option>15</option>
	</select>
	
	
	<a th:href="@{/}">Back to the homepage</a>
</body>
</html>