<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>My Sales</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../js/sales.js"></script>
</head>
<body>

	<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <input type="hidden" id="isAdmin" value="true"/>
    </div>
    
    <div th:if="${#authorization.expression('hasRole(''ROLE_STORE_SELLER'')')}">
        <input type="hidden" id="isStoreSeller" value="true"/>
    </div>
    
	<label>Sale status: </label>
	<select id="statusSelect">
		<option value="all">All</option>
		<option th:each="st:${status}" th:value="${st}"
			th:text="${st}"></option>
	</select>

	<div id="result">
		<table border="1">
			<tr>
				<th>INDEX</th>
				<th>SALE ID</th>
				<th>CUSTOMER</th>
				<th>STATUS</th>
				<th>DATE OF REQUEST</th>
				<th>TOTAL PRICE</th>
				<div th:if="${#authorization.expression('hasRole(''ROLE_STORE_SELLER'')')}">
					<th>ACTION 1</th>
					<th>ACTION 2</th>
				</div>
			</tr>		
			<tr th:each="sale,itrStat : ${sales}">
					<td th:text="${itrStat.count}"></td>
					<td th:text="${sale.id}"></td>
					<td th:text="${sale.getCustomer()}"></td>
					<td th:text="${sale.Status}"></td>
					<td th:text="${#dates.format(sale.caseOrder.dateOfRequest,'dd/MM/yyyy')}"></td>
					<td th:text="'$'+${sale.totalPrice}"></td>
					
					<div th:if="${#authorization.expression('hasRole(''ROLE_STORE_SELLER'')')}">
						<div th:if="${#strings.toLowerCase(sale.Status)=='paid'}">
						   <td>
						    <select th:id="${sale.id}+'_refundType'">
						    	<option value="justrefund">Just Refund</option>
						    	<option value="samemodel">Choose same model</option>
						    </select>
						   	<button type="button" class="refundSale" th:id="${sale.id}+'_'+${sale.caseOrder.dateOfRequest}">REFUND</button>
						   </td>
						   <td><button type="button" class="saleReceipt" th:id="${sale.id}">SEE RECEIPT</button></td>
						</div>
						
						<div th:if="${#strings.toLowerCase(sale.Status)=='cancelled'}">
						   <td></td><td></td>
						</div>
						
						<div th:if="${#strings.toLowerCase(sale.Status)=='refund'}">
						   <td><button type="button" class="saleDetail" th:id="${sale.id}">DETAIL</button></td>
						   <td></td>
						</div>
						
						
						<div th:if="${#strings.toLowerCase(sale.Status)=='draft'}">
							  <td><button type="button" class="confirmSale" th:id="${sale.id}">CONFIRM</button></td>
							<td><button type="button" class="cancelSale" th:id="${sale.id}">CANCEL</button></td>
						</div> 
					</div>
			</tr>
		</table>
	</div>
	
	<select id="pageSelect">
			<option th:each="i: ${#numbers.sequence( 1, pageQuantity)}"
	        th:value="${i}"
	        th:text="${i}"></option>
	</select>
	
	<label>Size:</label>
	<select id="sizeSelect">
		<option>5</option>
		<option>10</option>
		<option>15</option>
	</select>
	
	<div id="receiptDetails"></div>
	
	<a th:href="@{/}">Back to the homepage</a>
</body>
</html>