<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Cases</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
      <tr>
      	<th>INDEX</th>
        <th>DESIGN</th>
        <th>DEVICE</th>
        <th>PROVIDER</th>
      </tr>
		<tr th:each="case,itrStat : ${cases}">
			<td th:text="${itrStat.count}"></td>
	        <td th:text="${case.design}"></td>
	        <td th:text="${case.device}"></td>
	        <td th:text="${case.provider}"></td>
	    </tr>
	 </table>
	 
	 <a th:href="@{/}">Back to the homepage</a>
</body>
</html>